*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/appProduct/
app/release/baselineProfiles/0/IconSpinning_v1.0.0(1)_08.22.2025-release.dm
app/release/IconSpinning_v1.0.0(1)_08.22.2025-release.apk
app/release/
app/google-services.json
